html{
  font-size: 18px;
  font-family: Helvetica;
  color: white;
  background-color: black;
}

header{
  display: flex;
  width: 100%;
  align-items: center;
}

header img{
  display: flex;
  height: 1.5rem;
  padding-left: .5rem;
  padding-right: 1rem;
}
.one{
  display: inline-flex;
  align-items: center;
}
header span{
  margin-top: .66rem;
  margin-bottom: .66rem;
  padding-top: 0px;
  padding-bottom: 0px;
}

a{
  color: white;
}

.container{
   width: 960px;
   margin: 0 auto;
   display: flex;
}

.first{
  height: 25rem;
  width: 100%;
  display: flex;
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
}

.container .block1{
  width: 20rem;
  background-color: black;
  padding: 2rem 3rem;
  margin-top: 9rem;
  font-weight: bold;
}
.block1 h2{
  font-size: 2rem;
  padding-top: .25rem;
}

.navbar{
   background-color: firebrick;
   width: 100%;
 }

.container ul{
  list-style: none;
  display: inline-flex;
  width: 100%;
  padding: .75rem 0;
  justify-content: space-between;
}

main{
  background-color: white;
  width: 100%;
}

.items .container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.spystuff{
  border: 4px black solid;
  width: 30%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.two img{
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
 align-items: center;
  height: 9em;
  width: auto;
}

img{

}

.two span{
  background-color: black;
  display: block;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding-bottom: .5rem;
  padding-top: .5rem;
}

.two{
  display: inline-block;
  width: 100%;
  justify-content:
}

.info .container{
  display: flex;
  color: black;
  justify-content: space-between;
}

.square{
  width: 35%;
  display: inline-block;
  margin-bottom: 4rem;
}

.square span{
  display: flex;
  background-color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  width: auto;
  color: white;
}

 footer{
  height: 5rem;
  display: inline-flex;
  width:100%;
  align-items: center;
}

footer span{
  width: 960px;
  margin: 0 auto;
  display: flex;
}

@media only screen and (max-width: 1024px){
  .navbar ul{
    display: none;
  }
  .spystuff{
    width: 47%;
    overflow: hidden;
    flex-wrap: wrap;
  }
}
